#bg {
	background: url("/img/stars.jpg") bottom left;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	/*background-color: #ccc;*/
}

#overlay {
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

body > .ui.container {
	margin-top: 3em;
}

.ui.action.left.icon.input {
	width: 100%;
}

div#result {
	opacity: 0.95;
}
